{% extends 'templates/app.html.twig' %}

{%block content%}
    <div class="col-md-6 col-md-offset-3">
      {% if erreur %}
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <i>{{erreur}}</i>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Mot de passe oublié</strong></div>
          <div class="panel-body">
            <form class="form-signin" action="{{path_for('auth.forgot-password')}}" method="post">
              <div class="form-group">
                <label for="email">Votre email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="your@domain.com">
              </div>
              <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
